[Unit]
After=rap-fileserver.service
Description=A service to run react app for ttm4133 labs

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/repos/webapp-TTM4133/React-app/gui-app
ExecStart=/bin/bash -c 'HOST=0.0.0.0 npm run start'
Restart=always

[Install]
WantedBy=default.target






















































